<html>
    <head>
        <title>3uxeca</title>
    </head>
    <body>
        <div>
            <h1><a href="">3uxeca Blog</a></h1>
        </div>

        <div>
            <p>published: 25.09.2019, 17:13</p>
            <h2><a href="">First post</a></h2>
            <p>Bitcamp AI Project "IMAGENIUS"</p>
        </div>

        <div>
            <p>published: 25.09.2019, 17:15</p>
            <h2><a href="">Second post</a></h2>
            <p>I want to get some rest..</p>
        </div>
    </body>
</html>